.login-page {
  max-width: 1440px;
  display: flex;
  margin: auto;
  background-color: #fff;

  .login-left {
    width: 50%;
    min-height: 100vh;
    background-image: url(../../../assets/image/background-gradient.png);
    background-size: cover;
    .login-title {
      display: flex;
      flex-direction: column;
      padding: 20.8% calc(12% + 10px) 4%;
      color: #fff;

      &__main {
        display: block;
        font-size: 2.2rem;
        font-weight: 700;
        margin-bottom: 10px;
      }
      &__desc {
        font-size: 1.8rem;
        font-weight: 500;
      }
    }
    .card-list {
      display: flex;
      flex-wrap: wrap;
      margin: 0 12% 0;
    }
  }

  .login-right {
    width: 50%;
    min-height: 100vh;
    .form__back {
      width: 33.33px;
      height: 33.33px;
      margin: 5.69% 0 0 10.69%;
      background-color: #fff;
      border: 3px solid #C6C6C6;
      border-radius: 50%;
      &-icon {
        font-size: 2rem;
        color: #C6C6C6;
      }
    }

    .form__logo {
      display: block;
      width: 137px;
      height: 162px;
      margin: 11.13% auto 30px;
      object-fit: cover;
    }
    .form__title {
      text-align: center;
      font-size: 1.8rem;
      font-weight: 600;
      margin: 0;
      background-image: linear-gradient(
        91.28deg,
        #2ebbec 4.78%,
        #60c3ad 97.82%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .form__notice {
      position: relative;

      text-align: center;
      font-size: 1.6rem;
      font-weight: 400;
      color: #727c8a;
      padding: 12px 0;
      margin: 0 0 30px;
      &::after {
        content: "";
        position: absolute;
        width: 16.5%;
        height: 2px;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        border-radius: 40px;
        background: red;
        background-image: linear-gradient(
          91.28deg,
          #2ebbec 4.78%,
          #60c3ad 97.82%
        );
      }
    }
    .input-list {
      width: 73.89%;
      margin: auto;
    }
    .message {
      font-size: 1.6rem;
      text-align: center;
      color: red;
    }
    .input-link {
      width: 200px;
      display: block;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 600;
      color: #26b8eb;
      margin: 14px auto 30px;
    }
    .form__btn {
      display: block;
      width: 47.64%;
      height: 50px;
      margin: 0 auto 20px;
      background-image: linear-gradient(
        91.28deg,
        #2ebbec 4.78%,
        #60c3ad 97.82%
      );
      border: none;
      border-radius: 40px;
      font-size: 1.6rem;
      color: #fff;
    }
  }
}

// Responsive
@media (max-width: 767px) {
  .login-page{
    .login-left {
      display: none;
    }
    .login-right {
      width: 100%;
      .input-wrap {
        height: 4.5rem;
        margin-bottom: 30px;
      }
      .form__btn {
        height: 4.5rem;
      }
    }
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .login-page {
    .login-left {
      .card-list {
        margin: 0 auto;
        justify-content: center;
      }
    }
    .login-right {
      .input-wrap {
        height: 4.5rem;
        margin-bottom: 30px;
      }
      .form__btn {
        height: 4.5rem;
      }
    }
  }
}