.blog-post {
  width: 73.99%;
  background-color: #fff;
  margin: 32px auto 17px;
  padding-bottom: 30px;
  &__title {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 0;
    &-avata {
      height: 40px;
      border-radius: 50%;
    }
    &-user {
      flex: 1;
      margin-left: 15px;
    }
    &-name {
      margin: 0;
      font-size: 1.8rem;
      font-weight: 600;
      background-image: linear-gradient(
        91.28deg,
        #2ebbec 4.78%,
        #60c3ad 97.82%
      );
      word-wrap: none;;
      object-fit: cover;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    &-status {
      font-size: 1.4rem;
      font-weight: 400;
      color: #727c8a;
    }
    &-option {
      align-self: baseline;
      border: none;
      background-color: #fff;
      color: #080808;
      &:hover .blog-post__title-option-item {
        display: flex;
      }
      &-item {
        position: absolute;
        right: 10px;
        top: 42px;
        display: none;
        flex-direction: column;
        width: 70px;
        height: 50px;
        justify-content: space-around;
        background-color: #f8fbff;
        transition: all ease-in 1s;
        &__btn {
          border: none;
          background-color: #f8fbff;
          font-size: 1.2rem;
          &:hover {
            color: red;
          }
        }
        &::after {
          content: "";
          position: absolute;
          border-left: 8px solid transparent;
          border-top: 8px solid transparent;
          border-bottom: 8px solid #fff;
          border-right: 8px solid transparent;
          top: -15px;
          right: 4px;
        }
        &::before {
          content: "";
          position: absolute;
          width: 70%;
          height: 20px;
          background-color: transparent;
          top: -15px;
          right: 0;
        }
      }
      &__icon {
        font-size: 2rem;
        color: #080808;
        line-height: 0;
      }
    }
  }
  &__content {
    &-text {
      font-size: 1.5rem;
      font-weight: 500;
      margin: 17px 20px 20px;
      color: #3f4650;
      word-wrap: break-word;
    }
    &-media {
        width: 100%;
        max-height: 70vh;
        object-fit: cover;
    }
  }
  &__comment {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px;
      &-avata {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
      &-create {
        flex: 1;
        width: calc(100% - 10px);
        height: 41.39px;
        margin-left: 10px;
        background-color: #F1F2F5;
        border: none;
        outline: none;
        border-radius: 133.444px;
        padding: 0 16px;
        ::placeholder {
            font-size: 1.6rem;
            font-weight: 500;
            color: #3F4650;
        }
      }
  }
  }
